<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard-container">

    <h1>Welcome {{ admin_name }}</h1>

    <p>{{ admin_email }}</p>

    <div class="dashboard-menu">

        <a href="{{ url_for('admin_profile') }}"
           class="card">
            Profile
        </a>

        <a href="{{ url_for('item_listing') }}"
           class="card">
            Manage Products
        </a>

        <a href="{{ url_for('add_item') }}"
           class="card">
            Add Product
        </a>

        <a href="{{ url_for('logout') }}"
           class="card logout">
            Logout
        </a>

    </div>

</div>

</body>
</html>