<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet"
          href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Admin Login</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">

        <input type="email"
               name="email"
               placeholder="Enter Email"
               required>

        <input type="password"
               name="password"
               placeholder="Enter Password"
               required>

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        New Admin?
        <a href="/admin_signup">Register</a>
    </p>

</div>

</body>
</html>