<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="dashboard-header">

    <h1>🛒 E-Commerce Store</h1>

    <form method="POST"
          action="/user_search"
          class="search-form">

        <input type="text"
               name="keyword"
               placeholder="Search Products">

        <button type="submit">
            Search
        </button>

    </form>

    <a href="/view_cart" class="cart-btn">
        View Cart
    </a>

</div>

<div class="product-grid">

{% for product in products %}

<div class="product-card">

    <img src="{{ url_for('static',
    filename='images/' + product[4]) }}">

    <div class="product-info">

        <h3>{{ product[1] }}</h3>

        <p class="price">
            ₹{{ product[3] }}
        </p>

        <div class="card-buttons">

            <a href="/user_view_item/{{ product[0] }}"
               class="view-btn">
               View Details
            </a>

            <a href="/add_to_cart/{{ product[0] }}"
               class="cart-add-btn">
               Add To Cart
            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>


</body>
</html>