<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="POST" action="/user_search">
    <input type="text"
           name="keyword"
           placeholder="Search Products">

    <button type="submit">
        Search
    </button>
</form>

<hr>

{% for product in products %}

<div>

    <img src="{{ url_for('static',
    filename='images/' + product[4]) }}"
    width="150">

    <h3>{{ product[1] }}</h3>

    <p>₹ {{ product[3] }}</p>

    <a href="/user_view_item/{{ product[0] }}">
        View Details
    </a>

</div>

<hr>

{% endfor %}
</body>
</html>